body {
    font-family: Nunito;
    background-color: #f6d4ff;
}

#mainHeader > div > h1 {
    font-weight: 900;
    color: #9B25BE;
}
#mainHeader > div > h2 {
    font-weight: 600;
    color: #B685C5;
}
#mainHeader > div > h3 {
    font-weight: 400;
    color: #b41fa8;
}

.pokeTableData > img {
    max-width: 50%;
}

tr:hover {
    background-color: #9B25BE;
    color: #f6d4ff;
}

#pokeTable {
    color:#9B25BE;
    font-size: 1.2em;
}

.uvaLogo {
    max-width: 10%;
}

.heavyBallRow {
    text-decoration:none;
    position:relative;
}
.heavyBallRow span {
    display:none;
}
.heavyBallRow:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

#heavyBallRow-tooltip-span {
    background-color: #f6d4ff;
    border-radius: 5px;
    color: #9B25BE;
    padding: 0 1em;    
    border-color: #9B25BE;
    border-style: solid;
}
